# # Client reqs
TM_CONSUMER_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TM_CONSUMER_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

WWWDATA_USER=XXXXXXXXXX
WWWDATA_PASSWORD=XXXXXXXXXX
TM_DB_NAME=XXXXXXXXXX

PGHOST=XXXXXXXXXXX
PGUSER=XXXXXXXXXXX
PGPASSWORD=XXXXXXXXXXX
DRCOG_DB=XXXXXXXXXXX

PGADMIN_DEFAULT_EMAIL=XXXXXXXXXXX
PGADMIN_DEFAULT_PASSWORD=XXXXXXXXXX
